.card{
    background-color:teal;
    color:#ffffff;
    border-radius: 0px;
    font-size: 30px;
    font-family: Georgia, Times, "Times New Roman", serif;
    
}

.port{
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

.nav{

    margin-top:20px;
    font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}

.topper{
    border-bottom: 3px solid #cccccc;
}

.body{
    background-image: url("../images/crossline-dots.png");
}